[2019-05-14 19:43] EduardLouis opened #1 "CoordinateSystemByStation when station is not in featureline start end stations range"
Hi Paolo,

I try to create CoordinateSystemByStation from a list of stations. Not all stations are in the featureline start end stations range. I know the stations can be filtered in Dynamo to keep only what is in featureline range but I'm looking to see if this can be done easily in C#, not each time for each Dynamo graph. I was looking in the log file and I have these events for a success CS and

[2019-05-15 08:10] paoloemilioserra commented on #1
@EduardLouis yes it can be done, I'll update this in 2.0.4. It will return null and log:

[2019-05-15 08:10] #1 closed, assigned to nobody

[2019-05-15 08:13] EduardLouis commented on #1
Thanks!

[2019-05-20 15:38] EduardLouis opened #2 "Featureline.CoordinateSystemByStation return null"
Hi,

There is an error on Intersection method from Dynamo. It's a little bit strange for me, when a featureline polycurve is intersected with a plane XZ of a coordinate system from the Baseline return a list of nurbs. If each curve of the polycurve is intersected with the plane XZ from coordinate system everything works fine. Also if I make a surface on that plan and intersect with the polycurve,

[2019-05-20 17:02] paoloemilioserra commented on #2
@EduardLouis are you able to share the dataset (DYN, RVT and DWG) and the log file?
If you cannot share Revit and Civil 3D data, please use the Project Refinery Data.Remember node on the results of Featureline.Curve and Baseline.CoordinateSystemByStation.

[2019-05-21 05:42] EduardLouis commented on #2
I'll try yo install Project Refinery. Today trying get the result in another script I see that the problem is in fact from Geometry Working Range. When is Medium works fine, when is Large give errors.

Medium Range
![image](https://user-images.githubusercontent.com/10221704/58070943-9d45e500-7ba3-11e9-9b34-21c3514cade8.png)

Large Range
![image](https://user-images.githubusercontent.com/10221704/5

[2019-05-21 05:42] #2 closed, assigned to nobody

[2019-05-21 06:22] paoloemilioserra commented on #2
Thanks @EduardLouis, it will be addressed in future releases of Dynamo Core, the team is aware of it.

[2019-05-23 08:57] EduardLouis opened #3 "Read featurelines from a corridor with regions from DataShortcut"
Hi @paoloemilioserra,

I glad to work again with CivilConnection, but there are few things that are challenging me. Not sure if in your previous versions  works to read featurelines from corridors as reference from data shortcut but I think yes, if I remember correctly. The problem is when a reference corridor from data shortcut have regions. These regions return nulls in the code and the featurel

[2019-06-26 12:05] atultegar opened #4 "not creating xml file in TEMP folder"
Hi,
I am using Civil Connection 2018 with Civil 3D 2018 and Revit 2018.
Whenever I use the node Corridor.GetCodes or Corridor.GetFeaturelines, Dynamo is not responding.
May be it is because of, in the new version of Civil Connection, corridor featurelines are exported to XML file in TEMP folder and in my case it is not creating any XML file, it stucks there.
But whenever I used the previous versio

[2019-06-27 07:34] grittmw opened #5 "Package not showing up"
I installed version 3.0, but it's not showing up in Dynamo. I have Dynamo from Civil3D 2.1.1. Do I need to have Revit 2020 installed?

[2019-06-27 07:35] danielgijsbers commented on #5
Hi
Did you unblock the dll?

[2019-06-27 07:36] danielgijsbers commented on #5
I am not sure if the CC is working under the Dynamo for AutoCAD, I have tested that.

[2019-06-27 15:16] grittmw commented on #5
The dll isn't blocked. Other packages are loaded correctly.
I tried the package in Dynamo for Revit, there it's loading fine. So it's not working in Dynamo under Civil3D/AutoCAD.

[2019-06-28 15:36] paoloemilioserra commented on #5
Yes CivilConnection is a Dynamo for Revit package.

[2019-06-28 15:36] #5 closed, assigned to nobody

[2019-06-28 15:37] paoloemilioserra commented on #4
Atul, you need to update the CivilPython as well to use it with the latest version of CivilConnection

[2019-06-28 15:42] paoloemilioserra commented on #3
Eduard can you try the latest version? Also rememebr to update CivilPython. Also we found that it is best to have a baseline for each assemblyespecially if the regions are consecutive and share a station in common. You can gabe multiple regions on the same baseline if the regions are not sharing a station.

[2019-06-29 07:47] danielgijsbers commented on #4
The odd thing is that we installed / updated all the machines

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: paoloemilioserra <notifications@github.com>
Sent: Friday, June 28, 2019 5:37:49 PM
To: Autodesk/civilconnection
Cc: Subscribed
Subject: Re: [Autodesk/civilconnection] not creating xml file in TEMP folder (#4)

Atul, you need to update the CivilPython

[2019-06-29 09:52] paoloemilioserra commented on #4
Just to clarify, the improvement in speed with version 3 is possible because of the silent export, so I'm not going to reverse it back. Can you confirm you launched CivilPython and confirmed to Always Load please?

[2019-07-01 14:32] atultegar commented on #4
Hi Paolo,
I have updated the CivilPython to latest version, now its working fine. Thanks

[2019-07-01 15:23] paoloemilioserra commented on #4
Thanks for taking the time Atul!

[2019-07-01 15:23] #4 closed, assigned to nobody

[2019-07-09 22:24] paoloemilioserra commented on #3
@EduardLouis I've tested the latest version and I was able to retrieve the featurelines from a DataShortcut corridor with multiple regions with no issues.

[2019-07-09 22:24] #3 closed, assigned to nobody

[2019-07-24 12:29] Lazarica-t opened #6 "Featureline.Start and Featureline.End Values are a bit off"
Hi!

There might be a bug with the Featureline.Start and Featureline.End blocks, the values I'm getting are a bit off compared to the old version of CivilConnection.
The correct values should be 1090 and 4340 respectively, as they are defined in the civil corridor.
See attachments bellow:

![Old_Vs](https://user-images.githubusercontent.com/49474519/61793191-35bc4800-ae27-11e9-9871-aa6d9edc0ac3.jp

[2019-07-24 12:57] paoloemilioserra commented on #6
Hi @Lazarica-t, thanks for reaching out, no bugs here. It's just that the stations on the baseline are rounded at the 3rd decimal digit. I'll override the values on the Featureline properties to match those in the Baseline in the next release.

Just a few words to explain what is happening.

Since version 3.0 the method to extract featurelines has changed a lot, now it is exporting the values dire

[2019-07-24 16:49] paoloemilioserra commented on #6
Fixed in 3.0.5

[2019-07-24 16:49] #6 closed, assigned to nobody

[2019-07-25 05:04] Lazarica-t commented on #6
Awesome! You're the best!
Just tested the new vs. and it works like a charm!

Best regards!

[2019-08-09 05:10] EduardLouis commented on #3
@paoloemilioserra thanks!
Works perfect now!
The only thing is structure of the Featureline lists but this is not CivilConnection, is Civil3D. In a referenced corridor featurelines are connected different from one region to another, if the featureline have the same Code Point Name.

[2019-08-14 09:29] EduardLouis opened #7 "Shapes - Points with Z = NaN"
Hello,

For some corridors at shapes extraction in the XML file the points are with **Z = "NaN"**
[code]
From this the shapes are not read. In BaselineRegion I change line 387 and replace with:
`if(x.ToString() != "NaN" && y.ToString() != "NaN" && z.ToString() != "NaN")
{
points.Add(Point.ByCoordinates(x, y, z));
}`

For the moment works fine for me with this change but I'm not sure if should be s

[2019-08-17 08:45] paoloemilioserra commented on #7
@EduardLouis could you please share the Civil 3D dataset in question? How was it created? thanks

[2019-08-19 05:35] EduardLouis commented on #7
@paoloemilioserra I sent a graph and a Civil3D file with one corridor at your gmail address from your LinkedIn profile.
I think error is when baseline starts before profile start.
[image](https://user-images.githubusercontent.com/10221704/63240976-a6098e00-c25a-11e9-9651-b6227102706e.png)

[2019-08-20 09:08] EduardLouis commented on #7
@paoloemilioserra
The same problem with NaN is when extract the elevation at point if the baseline starts before the profile, and baseline / alignment start is negative.
If I take CoordinateSystemByStation or a point, the result is a CS with Z value = NaN and from here Dynamo stops.

![image](https://user-images.githubusercontent.com/10221704/63333928-f5c38480-c342-11e9-92c2-1272295a7101.png)

[2019-08-20 10:12] danielgijsbers commented on #7
Perhaps it's located in the west of Holland? We don't have Z coordinates. 😁

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Eduard Louis <notifications@github.com>
Sent: Tuesday, August 20, 2019 11:08:46 AM
To: Autodesk/civilconnection <civilconnection@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [Autodesk/civilconnection]

[2019-08-20 10:50] EduardLouis commented on #7
Almost true! 😁

[2019-08-20 13:10] EduardLouis commented on #7
@paoloemilioserra
For some reason **StationOffsetElevationToXYZ**  return NaN if the Profile.ElevationAtStation return NaN. If the vertical profile start at station 0, sometime ElevationAtSation(0) return NaN.
This happen only for corridors where alignment / baseline starts before vertical profile start. Usually should not be this case but if you don't have full ownership on road design models, yo

[2019-08-30 05:39] Lazarica-t opened #8 "AppliedSubassemblyShape Issue"
Hi Paolo,

Not sure if this is a Dynamo issue or more of a Civil3D issue, but maybe you have come across this and have some tips.

So I was testing out the workflow that uses the AppliedSubassemplyShape nodes and for some reason the geometry that I get in Dynamo for the Civil 3D Assemblies is incomplete (see images below):

![image](https://user-images.githubusercontent.com/49474519/63995407-0c1ac

[2019-08-30 20:11] Lazarica-t commented on #8
Nevermind :D found out what the issue was (Had to set my Working Range to Medium)
I'll close the issue 👍

Best regards!

[2019-08-30 20:11] #8 closed, assigned to nobody

[2019-09-02 06:23] Lazarica-t opened #9 "Mass.ByShapesCreaseStations - Family save location"
Hi Paolo!

Is it possible to change the save location for the families that are generated with Mass.ByShapes**Crease**Stations? (btw it's Crease? not Create in the node name)

I have some projects saved on BIM360 Docs and when I run the scrip it does not save/create the families, but if I detach the project locally it's all good. So I'm thinking it's because it can't access the BIM360 folder maybe

[2019-09-02 06:47] paoloemilioserra commented on #9
Hi @Lazarica-t the name of the node and its behavior are correct and by design.
The reason for not saving the families on BIM360 is that historically they could not be displayed and because the families outside of a Revit project can be outdated, I'm not going to implement these changes.

[2019-09-02 06:47] #9 closed, assigned to nobody

[2019-09-02 06:53] paoloemilioserra commented on #7
@EduardLouis I'm back now I'll investigate asap.

[2019-09-02 07:21] Lazarica-t commented on #9
Thank you for the explanation!
I was hopping to be able to work directly on the Projects saved on BIM360, guess I'll have to use the workaround an detach the project.

Thanks for the response!
KR,

[2019-09-05 13:59] paoloemilioserra commented on #7
@EduardLouis, first thanks for your initial investigation. As stated in the known issues, if the vertical profile does not cover the entire length of the alignment this can generate null Featurelines.
I understand the impact of this when you are not in control of all the elements of the design, but I will not change the logic.
When it comes to shapes or links (as per your initial post), it is not

[2019-09-05 13:59] #7 closed, assigned to nobody

[2019-09-06 05:14] Lazarica-t opened #10 "Corridor.GetFeaturelinesByCode - unhandled exception in Civil 3D"
Hi Paolo,

I seam to be getting a Civil 3D error when using the Node **Corridor.GetFeaturelinesByCode** for some civil files, other files ones work just fine. After the error Dynamo gets stuck in a loop and nothing happens. I have attached the full details description of the error.

I've tested this with Revit-Civil 2018, Revit-Civil 2019, Revit-Civil 2020 with the **CiviConnection 3.0.8** and the

[2019-09-06 05:52] visualphyzx commented on #10
Thanks Lazarica,

I experienced the similar issue but haven't got the chance to document it.
Not just Corridor.GetFeaturelinesByCode, for me any nodes to extract corridor featureline will freeze the Revit.
I'm trying to re-compile the repo at some stage but haven't find time.

Regard

[2019-09-06 06:30] paoloemilioserra commented on #10
@Lazarica-t please check also in your temp folder the CivilConnection_temp.log file to understand what is happening. CivilConnection older versions did not depend on CivilPython as version 3.x does.
I believe the error you get is from CivilPython, I've fixed an issue with corridor feature lines with no style associated in the latest release 1.4 earlier this week.
@visualphyzx please visit the comp

[2019-09-06 06:30] #10 closed, assigned to nobody

[2019-09-06 11:51] EduardLouis commented on #7
@paoloemilioserra
Thanks for the support. I applied  the same process to skip the incomplete points. Work fine for me until this moment. I'll test these days you changes.

[2019-09-06 15:47] Lazarica-t commented on #10
@paoloemilioserra Here is the log file just after the error. There doesn't seem to be that much info in it :) it ends abruptly.

[CivilConnection_temp.log](https://github.com/Autodesk/civilconnection/files/3584638/CivilConnection_temp.log)

[2019-10-10 06:01] RedRai123 opened #12 "CivilSurface not working correctly"
Hi Paolo,

I have tried the new CivilSurface Nodes in your package, but it doesnt work unfortunately.
So Im able to get the CivilSurface, but as soon as I want to get the Surfaces from a small DTM with the "CivilSurface.GetTrianglesSurfaces" Node, my Dynamo is loading and nothing happens anymore. (for more than 1 hour).
When Im using the second node "CivilSurface.GetTrianglesSurfaces" with XML Pat

[2019-10-10 07:02] paoloemilioserra commented on #12
Hi @RedRai123 did you install the latest version of CivilPython as well?

[2019-10-10 10:30] RedRai123 commented on #12
Yes I did, but doesnt help :(

[2019-10-10 10:32] RedRai123 commented on #12
![2019-10-10 12_30_58-Dynamo](https://user-images.githubusercontent.com/42736086/66561521-eea63f00-eb59-11e9-8372-3656bf72519e.png)

Or the outcome is only "Null"

[2019-10-10 13:00] paoloemilioserra commented on #12
That's fine @RedRai123, then you need to export the LandXML manually from Civil 3D selecting only the surface and pass the XML path

[2019-10-10 13:28] paoloemilioserra commented on #12
Just for reference, in your Temp folder there is a CivilConnection_temp.log file every time you run a Dynamo graph that contains a CivilConnection node. It helps a ton if you share also the content of that file as it might capture errors and steps that are useful for debugging.

[2019-10-11 10:49] EduardLouis opened #13 "Suggestion - WriteToLog Node"
Hi Paolo,

What about a node to write text in CivilConnection_temp log file? It's more easy for users to see what Dynamo do while they are waiting or if Dynamo clash we can see what was the last thing made.
It's really easy to look at the log file and is very useful.
![image](https://user-images.githubusercontent.com/10221704/66645974-80cb4780-ec2d-11e9-9271-05f90c2654c3.png)
We can implement anot

[2019-10-11 23:56] paoloemilioserra commented on #13
@EduardLouis to do that you should write an extension to wrap each node in a graph an subscribe to the events when a Dynamo node computation starts and when it finishes. It may be possible now but it won't work for previous versions of Dynamo Core. I think there are already examples of this.
Or maybe you are thinking of a Pass through with a customizable message to write to the Log?

Like this in

[2019-10-11 23:57] paoloemilioserra commented on #12
So for your reference I managed to create a Surface of more than 25000 triangles and create a single PolySurface using the LandXML. I'm closing this.

[2019-10-11 23:57] #12 closed, assigned to nobody

[2019-10-12 00:28] #13 closed, assigned to nobody

[2019-10-14 09:01] Lazarica-t opened #14 "Mass.ByShapesCreaseStations Issue"
Hi,

The node **Mass.ByShapesCreaseStations** does not seam to be working properly in the latest version 4.0.3, it's only generating a single good family and the rest are empty families.
In the a previous version 3.0.8 the node was working properly.

See images below.

CivilConnection vs 4.0.3:
![image](https://user-images.githubusercontent.com/49474519/66739680-ea3f9600-ee79-11e9-9eab-a5d4a0d9888

[2019-10-14 14:38] paoloemilioserra commented on #14
@Lazarica-t Thanks for reporting this! it is now fixed in 4.0.4

[2019-10-14 14:38] #14 closed, assigned to nobody

[2019-10-15 06:10] Lazarica-t opened #15 "Mass.ByCrossSections distorted form"
Hi!

Not sure if the **Mass.ByCrossSections** node is working properly, but the resulting form seems to be distorted.
It might be a Revit Issue, but just cheking.
See images below:

![image](https://user-images.githubusercontent.com/49474519/66804269-b3758880-ef2a-11e9-8542-440de6173943.png)
![image](https://user-images.githubusercontent.com/49474519/66804339-e28bfa00-ef2a-11e9-9c34-442357e74fab.p

[2019-10-15 06:10] Lazarica-t commented on #14
Awesome! Thank you! :)

[2019-10-15 06:39] paoloemilioserra commented on #15
@Lazarica-t can you share the input data you are using? Civil 3D, Shape.XML, temp .Log etc...?

[2019-10-15 08:50] Lazarica-t commented on #15
@paoloemilioserra The files can be downloaded form the link below:
https://we.tl/t-fvOezuscRk

I think it has something to do with the cross sections and Revit gets confused and can't create the correct shape, but then comes the question why does the node **Mass.ByLoftCrossSections** work, does it use a different method for creating the form?

Or maybe I'm doing something wrong when generating the

[2019-10-16 05:56] EduardLouis commented on #13
Thanks Paolo.
I have an old version now a little bit changed, but I'll check all your updates these days.

[2019-10-16 12:36] EduardLouis opened #16 "CivilConnection not work in family environment"
Hi Paolo,

If we run CivilConnection on family environment is not working.
Can be made an workaround if is run it in a family environment to set the cs in 0,0,0?

![image](https://user-images.githubusercontent.com/10221704/66919732-92945c80-f02a-11e9-824c-55e204ae7dda.png)
![image](https://user-images.githubusercontent.com/10221704/66919868-db4c1580-f02a-11e9-9f60-dacf7a23cbd9.png)

[2019-10-16 14:26] paoloemilioserra commented on #16
@EduardLouis at first I'd say no, but can you please elaborate on the workflow you have in mind?

[2019-10-17 07:11] EduardLouis commented on #16
It's the same workflow as exporting geometry in a mass family, but we use parametric profiles to generate the geometry. In Civil3D we have only the road corridors, without geometry of the structure and base on it we place parametric profiles along the roads and create lofts. => if the structure is changed, this can be very easy changed by any Revit user without any deep knowledge of Revit or Dynam

[2019-10-17 07:30] paoloemilioserra commented on #16
@EduardLouis, the Family Document doesn't have the notion of the Total Transform you have in the Project Document, this is necessary to have the Civil geometries dealt with correctly in Revit, without it you need to pass an object that replicates the Shared Site that you have in the Revit project.
FOr simplicity all the families that are generated in CivilConnection share the same local origin as

[2019-10-17 07:46] EduardLouis commented on #16
I know is not possible. I have to know where I will use that family before to create it. For that, I store the site location of the Revit project in a Civil3D file and when I run the CivilConnection in a family I read that location. For me was most easy way to make the transition of the coordinates form the project in the family.
Now I thinking about a more elegant solution, to have a pop-up dialo

[2019-10-17 08:00] Lazarica-t commented on #16
Hi @paoloemilioserra I can confirm this issue is present in the latest version of **CivilConnection2019 4.0.4** when running the node **CivilApplication.CivilApplication** in a Generic Family, in a project it seams to run ok.
For **CivilConnection2018** and **CivilConnection2020** same thing.

![image](https://user-images.githubusercontent.com/49474519/66989429-0424e700-f0cd-11e9-8a61-4d47f0b2be8c

[2019-10-17 08:56] Lazarica-t opened #17 "Corridor.GetFeaturelinesByCode node not working - CivilPython 2.0.0 posible cause"
Hi Paolo,

The old issue with the **Corridor.GetFeaturelinesByCode** node is back it seams. Dynamo gets stuck in a loop and freezez.
Might want to have a look at the latest **CivilPython 2.0.0**.
Previous version **CivilPython 1.5.0** seams to be working fine with the node.

Best regards!

[2019-10-17 09:41] EduardLouis commented on #16
Hi again,

For me it's working fine with this small change, on RevitUtils.cs, inserted on lin 676:

[code]
[code]

I'm not sure what happen if the revit project is saved on BIM360, or if is central model, or have errors at opening... it's just a proof of concept.

[2019-10-17 13:14] EduardLouis commented on #17
The same for me :(

This is because of the file names:
![image](https://user-images.githubusercontent.com/10221704/67011871-0bfa8080-f0f9-11e9-8a52-0ccdbb142b7c.png)
![image](https://user-images.githubusercontent.com/10221704/67011901-1a489c80-f0f9-11e9-95d5-8918aa695086.png)
The name of the exported file is different from that the code search.

[2019-10-17 14:59] paoloemilioserra commented on #17
CorridorFeatureLines.xml is generated if the corridor ObjectId is not found in the Civil3D document, otherwise you get the corridor name appended like this: CorridorFeatureLines_<CorridorName>.xml
https://github.com/Autodesk/civilconnection/blob/master/Src/CivilPython/CivilPython/CivilPython.cs#L510

[2019-10-17 14:59] #17 closed, assigned to nobody

[2019-10-17 15:01] paoloemilioserra commented on #16
Not going to implement.

[2019-10-17 15:01] #16 closed, assigned to nobody

[2019-10-17 15:39] EduardLouis commented on #16
What about more simple solution:
if doc.IsFamilyDocument == True  => `Utils.Log(string.Format("RevitUtils.DocumentTotalTransform is NULL in a family enviroment.", ""))` and return cs = null

[2019-10-18 05:16] Lazarica-t commented on #17
So.. In conclusion, the **Corridor.GetFeaturelinesByCode** node will not be fixed?! Because right now the only way to make it work is to downgrade to **CivilPython 1.5.0**

KR,

[2019-10-18 05:25] Lazarica-t commented on #16
@paoloemilioserra I understand why you would want to make life easier for the user, but as @EduardLouis is suggesting, I think it would be wise and much more helpful for us to have the option to use CivilConnection in a family environment, at least until there is a new solution available!

Best regards!

[2019-10-18 07:40] paoloemilioserra commented on #16
@Lazarica-t CivilConnection is not going to be used in a family Document, you are free to create and maintain your own nodes.

[2019-10-18 07:50] paoloemilioserra commented on #17
@Lazarica-t  You should fix your Civil 3D model as it returns a null ObjectId for the Corridor which affects the way the featurelines are extracted.
The modified behaviour is there to improve the performance and stability of the Featureline extraction.
You need to downgrade to a previous release of CivilConnection too for the moment if you cannot have a decent model to work with.

[2019-10-18 07:58] Lazarica-t commented on #17
Thank you for the tip @paoloemilioserra !
From your own experience do you have any ideas what may cause this **null ObjectId**, have you encountered this issue?
I'm just trying to figure out what to look for, since I'm not a Civil 3D user by default, but I'm trying to learn it.

[2019-10-18 08:00] Lazarica-t commented on #16
Thank you for your support @paoloemilioserra!

[2019-10-18 08:06] EduardLouis opened #18 "IFCExport - if solid files is open as read-only return error"
Hi Paolo,

A colleague found that IFC Export is not working if the file is open as read-only. We use a file management system and to be sure that the file remain the same as the file on CDE we open it as read-only. I'm not sure why is needed to be saved after the geometry is back on the initial position, but an try and catch system for error is good there where the file is saved.

![image](https:/

[2019-10-18 08:32] paoloemilioserra commented on #18
@EduardLouis Thanks, it is trying to save the file with the solids back in the original position as I'm applying a transformation to get the IFC in the Revit local coordinates, I'm not sure you can rollback a transaction through COM, that is why there is need to save the DWG. I suppose it is possible through .NET (via CivilPython), worth investigating.

[2019-10-21 00:23] Brett-Townsend opened #19 "Can't connect to civil 3d"
I have been through the installation for 2018 and 2019 versions of Revit and C3d and cannot get the CivilApplication node to connect to civil 3d.

I have a tried a long list of fixes but always get the same result, can anyone help?

The installation guide says this error is a conflict between versions so i have removed the 2018 version and reinstalled dyanmo but it still doesn't work.

![CivilApp

[2019-10-21 06:22] EduardLouis commented on #19
Hi Brett,

This can be a version conflict, but also can be an error if you run CivilConnection in a family environment. The error received is the same error about "ctor...". I had the same error last week but was because I use it in a family not in the project.
@paoloemilioserra - is possible to customize the error if CivilConnection is started in a family and not in the project - users to know th

[2019-10-21 08:03] paoloemilioserra commented on #19
@EduardLouis I'm working on the custom message I'm in the middle of testing other features as well and PLEASE remember this is not my primary job, so you need to be patient for issues fixing.
@Brett-Townsend, please make sure you are using the latest version, I've found a similar problem with 4.0.3 for Revit 2019.

[2019-10-22 05:57] #19 closed, assigned to nobody

[2019-10-27 13:05] Lazarica-t opened #20 "Featureline.PointAtStation elevation values"
Hi,

There seams to be a loss in precision for the **Z** values of the featureline points when the input station has a precision greater the 0.1 digits. This loss in precison is only present if the station is close to a PVI point.

As an example, what I've encountered, for a corridor at the station 166.25 I am getting in Civil 3D an elevation of 2.641m for the baseline and the featureline (the mar

[2019-10-27 13:26] paoloemilioserra commented on #20
@Lazarica-t can you try again but with one station value at the time? I noticed you have different lacing set for the nodes. I assume you know what you are doing but just in case.
Also the Log file please.

There is no guarantee that the elevation from the Baseline is the same on the one on the Featureline as in principle they can have different grading, so your assumption is wrong.

[2019-10-27 14:01] Lazarica-t commented on #20
Sure, no problem.
Log file: [CivilConnection_temp.log](https://github.com/Autodesk/civilconnection/files/3775898/CivilConnection_temp.log)

Well that doesn't sound to reassuring , since I specifically set the link between the Baseline point and the featureline mark point to have 0% slope (in Civil 3D in the Assembly properties). Weird.

The values are the same as above.
![image](https://user-image

[2019-10-27 14:14] paoloemilioserra commented on #20
@Lazarica-t what I mean is that Featureline can be independent from the Baseline for what concerns Offset AND Elevation, it's a matter of understanding what you are asking not reassuring.

[2019-10-27 14:16] paoloemilioserra commented on #20
@Lazarica-t Can you at least pass the log file of the station you are asking and not 148.45?....

[2019-10-27 14:19] paoloemilioserra commented on #20
@Lazarica-t I cannot trust what you are doing. Share the Civil 3D model.

[2019-10-27 14:36] paoloemilioserra commented on #20
@Lazarica-t extract the polycurve of the Featureline with code "P2", calculate the coordinate system on the baseline at the station you want, extract the ZXPlane, intersect the plane with the polycurve, extract the Z coordinate of the intersection point, if they are still different it means the polycurve in not horizontal in that point.

Double check with the coordinate system form the Alignment.

[2019-10-27 14:36] #20 closed, assigned to nobody

[2019-10-27 14:52] Lazarica-t commented on #20
@paoloemilioserra That is the log for station 166.25

Here is the log after a fresh run for station 166.25
[CivilConnection_temp.log](https://github.com/Autodesk/civilconnection/files/3775956/CivilConnection_temp.log)

![image](https://user-images.githubusercontent.com/49474519/67636194-c9922a00-f8d6-11e9-8343-bafb36e1f2ac.png)

If you are referring to the value found inside the log 148.45 I belie

[2019-10-27 14:54] Lazarica-t commented on #20
I will check now and come back with the results.

[2019-10-27 15:24] Lazarica-t commented on #20
@paoloemilioserra No luck, same values after the intersection with the ZXPlane
Coord system from the Alignment has the same values for X,Y coordinates and vectors as the ones from the Baseline

Thanks for you support, much appreciated.

![image](https://user-images.githubusercontent.com/49474519/67636821-1a0c8600-f8dd-11e9-8469-480bb006bda8.png)

[2019-11-21 07:40] EduardLouis opened #21 "Corridor.Shapes - failed. Points are likely coincident"
Hi @paoloemilioserra

An issues about the shapes. Sometime the points from Civil3D are very close, so that the PruneDuplicate function will keep only one point. That iteration need to be skip.

In first image, the shape XML element. In second image the error in Dynamo. Hope this help.

![image](https://user-images.githubusercontent.com/10221704/69316768-341e5780-0c42-11ea-90f7-f3d9f5354534.png)
![

[2019-12-01 08:06] danielgijsbers opened #22 "Baseline.GetFeaturelinesByCode"
I run into an issue where the Baseline.GetFeaturelinesByCode results in an empty list. If I use the node Baseline.GetFeaturelinesByCodeStation with the same inputs and a station value then this node does produce a fature line.
![2019-12-01_08h56_35](https://user-images.githubusercontent.com/36760593/69911313-ca5c3580-1419-11ea-955e-f41615fb79ca.png)

[2019-12-01 12:17] paoloemilioserra commented on #22
@danielgijsbers could you share the log and XMLs produced?

[2019-12-01 12:51] danielgijsbers commented on #22
[CivilConnection_temp.log](https://github.com/Autodesk/civilconnection/files/3908206/CivilConnection_temp.log)

remove the txt
[Get FeatureLinesByCodeStation.dyn.txt](https://github.com/Autodesk/civilconnection/files/3908207/Get.FeatureLinesByCodeStation.dyn.txt)

sorry didn't mean to close it.

[2019-12-01 12:54] paoloemilioserra commented on #22
can you share the XMLs as well? the one containing the actual data for the featurelines? they are in hte same location as the log.

[2019-12-01 12:55] danielgijsbers commented on #22
remove the txt
[CorridorFeatureLines_Bridge.xml.txt](https://github.com/Autodesk/civilconnection/files/3908211/CorridorFeatureLines_Bridge.xml.txt)

[2019-12-01 13:01] paoloemilioserra commented on #22
@danielgijsbers there is always this error ERROR: Baseline.GetFeaturelinesFromXML Featureline failed Curve join produced more than one WIRE in PolyCurve
It looks like the geometry scaling is not correct. Which Dynamo version are you using?

[2019-12-01 13:06] danielgijsbers commented on #22
Revit 2019

Dynamo core 2.0.3.8810
Dynamo Revit 2.0.3.8811

CivilConnection:
![2019-12-01_14h05_27](https://user-images.githubusercontent.com/36760593/69914353-ab729900-1443-11ea-9edd-b5ac13780ac8.png)

AutoCAD Civil 3D
![2019-12-01_14h03_56](https://user-images.githubusercontent.com/36760593/69914328-7a926400-1443-11ea-9b7c-ba9548dbda15.png)

[2019-12-02 13:21] RedRai123 commented on #12
Sorry to come back to this topic, but my colleagues and me are still facing the same problem. I checked the log file and it just cant procceed:

ERROR: Unable to create polygon : API_FAILED -- operation unsuccessful
ERROR: Unable to create polygon : UNEXPECTED_EXCEPTION -- Unexpected system exception

Could you take a look at the log file?

Thanks in advance!
[CivilConnection_temp.log](https://git

[2019-12-02 13:27] paoloemilioserra commented on #12
@RedRai123 unfortunately in this case the error doesn't help much I'll need the dataset as well to reproduce it. I'd suggest you look for an alternative workflow in the meantime because realistically I don't have time to work on this project until February.

[2019-12-17 10:48] jromkes opened #23 "unable to run civilconnection2019 after installation of Civil3D2020"
I am trying to run a dynamo script from within a family which previously worked without any problems. After some time, in which I installed Civil3D 2020 and got a new company virusscanner, I get the following error:
![Image 077](https://user-images.githubusercontent.com/58976997/70988629-76607a80-20c2-11ea-9094-663309a6ef4d.png)
CivilConnection still runs fine from a Revit project, it's only from

[2019-12-17 17:17] paoloemilioserra commented on #23
@jromkes thanks for reaching out. CivilConnection is not designed to work in Families. Even so, the error was raised in one of the last updates, please make sure you update have the latest version of CivilConnection installed.

[2019-12-18 14:48] paoloemilioserra commented on #22
@danielgijsbers can you please make sure that in your regional settings the decimal separator symbol is a "." rather than a ","? I'll issue a fix that should work around that in the future.

[2019-12-18 14:53] danielgijsbers commented on #22
The decimal symbol is indeed a "," (comma)

[2019-12-26 08:17] andmailg opened #24 "CivilSurface.GetTrianglesSurfaces Node Issue"
CivilConnection 2020 ver. 4.0.4

CivilSurface.GetTrianglesSurfaces Node can not create triangles in Dynamo.
Error message is: Error creating Surface: Points are coincident.
**CivilConnection_temp.log** file and **surface.xml** created in %TEMP% folder are in attachment.

[CivilConnection_temp.log](https://github.com/Autodesk/civilconnection/files/4001867/CivilConnection_temp.log)
[Surface.zip](htt

[2019-12-28 22:20] andmailg commented on #24
SOLVED!
https://knowledge.autodesk.com/support/revit-products/troubleshooting/caas/sfdcarticles/sfdcarticles/Error-Input-string-was-not-in-a-correct-format-as-Site-desiner-Feature-line-is-selected.html

[2019-12-28 22:20] #24 closed, assigned to nobody

[2020-01-07 12:51] EduardLouis commented on #23
The same error for me. If I have Civil3D 2020 installed, CivilConnection didn't work for version 2019. No matter if is in a family or project document.
Reading DrawingSettings from doc gave error. Not only DrawingSettings, but there the script is stop.

[2020-01-07 20:22] danielgijsbers commented on #23
@EduardLouis if you like we can schedule a short zoom call on wednesday, Perhaps I can help you out.

[2020-01-09 09:08] ntikb opened #25 "CivilApplication node changes Revit units"
When using the node "CivilApplication.CivilApplication" in a script, units in Revit change from mm to m. Is this a bug or a feature?:)

CivilConnection2020 4.0.4
Dynamo Core 2.3.0.5885
Dynamo Revit 2.3.0.6270
Revit 2020.2

Regards
Klaus Bang
NTI A/S

[2020-01-09 09:27] paoloemilioserra commented on #25
@ntikb this is a feature as the units from Civil 3D are either meters or feet.

[2020-01-09 09:27] #25 closed, assigned to nobody

[2020-01-16 16:16] htlcnn opened #26 "CivilPython unable to load standard libraries"
Hi,
I'm using CivilPython with Civil 3D 2020.
I'm not able to import standard libraries such as `os`. Here's the code:
[code]
And the Exception thrown:
[code]

Please give some instructions on how to attach IronPython Standard Library to CivilPython.

Thanks!

[2020-01-16 19:51] paoloemilioserra commented on #26
import sys
sys.path.append('C:\Program Files (x86)\IronPython 2.7\Lib')

[2020-01-16 19:51] #26 closed, assigned to nobody

[2020-01-17 16:29] htlcnn commented on #26
Thanks. I wonder if there is other way to embed IronPython stdlib into CivilPython.dll so that it doesn't rely on client's installation path?

Edit: Nevermind, I've found solution at: https://github.com/eirannejad/pyRevit/blob/master/dev/pyRevitLoader/Source/ScriptExecutor.cs#L136-L146

Thanks a lot for your help. And please remember to escape your strings.

[2020-01-20 06:24] danielgijsbers opened #27 "RevitUtils.CreateFamilyInstance"
Hi,

I keep running into an issue with the RevitUtils.CreateFamilyInstance node. IF you provide it with a range of station values it places the first and then it produces nulls. I have done this before and then It worked.

![2020-01-20_07h05_44](https://user-images.githubusercontent.com/36760593/72702663-cc0dc400-3b53-11ea-8ae6-47200465e036.png)

[2020-01-20 06:37] danielgijsbers commented on #27
@paoloemilioserra the file: 03.1_Place Families_2.0_DP.dyn was used for this.

[2020-02-04 02:36] jnky1812 opened #28 "CivilPython doesnt work"
I cant get Civil Connection 2020 to work I think due to CivilPython not working.
After setting CivilPython.dll to unblocked when I try to run the Command PYTHON inside Civil3d I get an unhandled exception.

Could not load file or assembly 'Microsoft scripting. Version=1.1.0.20,Culture=neutral, PublicKeyToken=7f709c5b713576e1' or one of its dependancies. The system cannot find the file specified.

[2020-02-04 23:27] paoloemilioserra commented on #28
Have you got an earlier version of Revit installed on the machine? Try to install IronPython 2.7 from the website or in alternative Dynamo Core as an independent install. Also Dynamo for Civil 3D will install the necessary files on your machine.

[2020-02-04 23:28] paoloemilioserra commented on #27
@danielgijsbers what does the log file say?

[2020-02-04 23:31] #22 closed, assigned to nobody

[2020-02-06 00:50] jnky1812 commented on #28
installing Dynamo for Civil3d fixed the CivilPython problem but I still get the Civil Application node operation failed error, I only have Revit 2020 and Civil3d 2020 but would have had previous versions since uninstalled.

[2020-02-09 21:54] jnky1812 commented on #28
This is the specific message

Warning: CivilApplication..ctor operation failed.
Value cannot be null.
Parameter name: path1

I definately do not have old versions installed but may have done on this machine in the past, what does the node look for to determin the installed version? is it a registry key or a file\folder in AppData?

[2020-02-10 05:27] paoloemilioserra commented on #28
It's looking for a running Civil 3D Application (not MAP 3D, not AutoCAD) https://github.com/Autodesk/civilconnection/blob/master/Src/CivilConnection/2020/Autodesk2020/CivilApplication.cs#L66

Which version of CivilConnection are you running? Can you try downgrade to 3.0.8?

I will closed the issue as it is on CivilPython.

[2020-02-10 05:29] #28 closed, assigned to nobody

[2020-02-10 05:39] paoloemilioserra commented on #21
Will be fixed in new release, thanks

[2020-02-10 05:39] #21 closed, assigned to nobody

[2020-02-10 06:05] jnky1812 opened #29 "Unable to run CivilConnections 2020"
We are experiencing
Warning: CivilApplication..ctor operation failed.
Value cannot be null.
Parameter name: path1
from the CivilApplication node.

Tried both the new version installed through package manager and version 3.08.
I only have 2020 versions of both Revit and Civil3d installed currently.
I have Dynamo Core 2.3 and Dynamo Revit 2.3 installed.

[2020-02-13 09:15] VeroGr opened #30 "Uncompiled Files Civil Connect 2020"
Can I get the uncompiled files for Civil Connect 2020 somewhere?

[2020-02-13 09:23] paoloemilioserra commented on #30
https://github.com/Autodesk/civilconnection/tree/master/Src/CivilConnection/2020/Autodesk2020

[2020-02-13 09:23] #30 closed, assigned to nobody

[2020-03-02 12:06] EduardLouis commented on #23
@danielgijsbers sorry for my late reply.
I solved this changing the versions for Acad Application to 23:
` string m_sAcadProdID = "AutoCAD.Application.23";`

and keep only the Roadway app version for 2019
`            string[] progids = new string[] {
                "AeccXUiRoadway.AeccRoadwayApplication.13.0"} // 2019
`

[2020-03-05 16:25] RedRai123 opened #32 "CivilSurface Region Format issue"
Hi Paolo,
this is related to issue #24
Is there a way to change something that there is no need to change the region formats?
I am working in Germany and because of that issue I cant get it work. When I change the region format to English(US), it works. But I cant change that for all my colleagues who want to use it.
I have tried to change that via python before the normal script starts and at the

[2020-03-26 14:28] danielgijsbers opened #33 "CivilConnection and BIM360"
When working on the local copy / cached Model of a BIM360 file the node: Mass.ByShapesCreaseStations can't create families. If the Revit model is taken of the cloud and saved as a 'regular' Revit central file and then the same script does works.

Suggestion: check the method with which you are getting the path of Revit file. In another application we have seen that to get this path you have to use

[2020-03-27 13:40] r327079 opened #34 "Civil Connections - for Civil 3D using Dynamo sandbox. - (without Revit installation machines))"
Hi Paolo,

Can you suggest or modify Civilconnection codes by removing Revit dependencies. In other words enabling direct use of Dynamo with Civil 3D - (2018 ver.). Revit usage is limited for Highway Designers using Civil 3D.
Andrew Milford had published some ppt for "Civil 3D Data Mining with Dynamo". (ref. - CES226095 on Autodesk university).

Thanks

Robin

[2020-03-27 13:58] paoloemilioserra commented on #34
Hi Robin,

thanks for reaching out. The purpose of CivilConnection has always been, is, and will remain to exchange information between Revit and Civil 3D, so I cannot accept your request.

You are free to leverage the parts of CivilConnection you find useful in your own projects, just don't forget to mention the copyrights notes if you wish to do so.

Thanks

[2020-03-27 13:58] #34 closed, assigned to nobody

[2020-03-30 11:33] r327079 commented on #34
Hi Paolo ,
Thanks for reply. I would request you to please help in this regard. I had shared the codes in AU2018.Civil3D with you on Github. (r327079)I am using  Visual Studio 2019 for coding and it is showing error. I am relatively new to dot net coding and Github.

I would highly appreciate if you can review and assist me in completing this coding done. I have Millford's paper on codes required

[2020-04-01 10:53] EduardLouis opened #35 "GetPointGroups error"
**Which version are you using?**
 _we have our internal version, but is base on your version 4.0.4_
**What did you do? (Steps to reproduce)**

_1. Open a new Civil3D file
2. Add a point group from Dynamo
3. Read the points groups => works fine
4. Go to Civil3D, delete all poins from document
5. Read the points group => no points in document, empty list => works fine
6. Add a new point group form D

[2020-04-01 11:16] EduardLouis commented on #35
About the COGO Points is useful to have **option to replace the points in the existing groups.** It's a little bit confusing when work with point groups from Dynamo because always the points are appended to the existing groups and it's difficult to track the points in Dynamo.

If we create already some points in a group and run again the script from the starting point, is expected that the points

[2020-04-02 08:14] JoelvanHerwaarden opened #36 "Pipe.ByCurve DocumentTotalTransform Failed Error"
**Which version are you using?**
Revit 2020, Dynamo 2.3, Civil Connection 4.04

**What did you do? (Steps to reproduce)**
Tried making pipes from a bunch of lines
Got the Pipe Type (All PipeTypes in Revit doc, filtered By name)
Got the Pipe System Type (All PipeSystemTypes in Revit doc, filtered By name)
Got a Level

1. Plugged everything in and the Pipe.ByCurve Failed.
2. Looked in the Log file o

[2020-04-02 08:28] paoloemilioserra commented on #36
@JoelvanHerwaarden thanks for reaching out. The MEP part is under major review. What happened is that there was a wrong call to dispose of the total transform. The Curve input is supposed to be derived from a Corridor Featureline, therefore in World Coordinate System, that is why the Total Transform is necessary to create the pipes in the Revit project local coordinates. Can you please try to not

[2020-04-02 08:50] JoelvanHerwaarden commented on #36
And what if, in this instance, the curves are not derived from a corridor feature line? I should translate them away from the origin first and then use the node?

As you can see in the screenshot of the topic, I tried that with the Inverse Document Total Transform, made with OOTB nodes, because the RevitUtils.DocumentTotalTransform kept returning nothing. Now we are hitting a roadblock with one no

[2020-04-02 09:25] paoloemilioserra commented on #36
The reason is because it was designed to create MEP curves following Corridor Featurelines, they are in WCS and I'm not going to change that. If restarting solved the issue confirms my assumption that the TotalTransform was disposed before.

[2020-05-02 14:09] Lazarica-t opened #37 "AppliedSubassemblyShape issue."
Hi,

There seams to be am issue with the **AppliedSubassemblyShape's** that I get from the nodes **BaselineRegion.Shapes** and **Corridor.Shapes** when dealing with certain types of Corridors.
The problem I'm facing is when I have a corridor made up multiple Regions with different Assemblies, see example below:
![image](https://user-images.githubusercontent.com/49474519/80865609-47266080-8c93-11ea

[2020-05-02 16:58] paoloemilioserra commented on #37
@Lazarica-t The problem is not in the node but in the way your Corridor is built.
If you need two different assemblies in two consecutive regions you should consider two separate baselines, one per assembly.
The applied subassemblies in the first station of the region that follows are the same as in the region that precedes. This is a Civil 3D behavior that is used to compute the Corridor Feature

[2020-05-02 16:58] #37 closed, assigned to nobody

[2020-05-02 17:08] Lazarica-t commented on #37
Ok, I will take this into account when building the Mass Shapes.
Thanks.

[2020-06-08 15:24] brunotux opened #38 "Alignment.GetCurves()"
Hi,
the calculation of the NurbSplines seems not to be correct.
Here the civil alignment
![image](https://user-images.githubusercontent.com/7166455/84049393-aec77e00-a9ac-11ea-9839-02d9ab82e6b5.png)

and here the result in revit
![image](https://user-images.githubusercontent.com/7166455/84049500-ce5ea680-a9ac-11ea-9d91-9cde8ac3ff4d.png)

[2020-06-21 13:44] #15 closed, assigned to nobody

[2020-06-21 13:45] #18 closed, assigned to nobody

[2020-06-21 13:47] #23 closed, assigned to nobody

[2020-06-21 13:47] #27 closed, assigned to nobody

[2020-06-21 13:48] #29 closed, assigned to nobody

[2020-06-21 13:48] #32 closed, assigned to nobody

[2020-06-21 13:51] #33 closed, assigned to nobody

[2020-06-21 14:01] #35 closed, assigned to nobody

[2020-06-21 14:01] #38 closed, assigned to nobody

[2020-06-21 22:02] #36 closed, assigned to nobody

[2020-07-22 08:49] atultegar opened #39 "Featureline.PointAtStation still getting point when point is not lying on the featureline"
Hi,
In Civil 3D file, the corridor contains only 1 baseline while having 2 baseline regions. Due to which it creates 2 featurelines for same point code. Also, the baseline is made up of very long alignment, due to which whenever I used the node Featureline.PointAtStation giving any station value outside the start and end point of featureline (but the station value withing the alignment station ran

[2020-07-22 09:09] Lazarica-t opened #40 "Alignment.GetCurves issue"
Hi,

The node **Alignment.GetCurves** does not seem to be working properly in update 5.0.0
For some Alignments I receive this error:
![image](https://user-images.githubusercontent.com/49474519/88156177-bae06580-cc11-11ea-8288-ba71ec1ac383.png)

Previous version 4.0.4 no issues:
![image](https://user-images.githubusercontent.com/49474519/88156230-d0ee2600-cc11-11ea-8b2c-241e32556a84.png)

Code faul

[2020-07-24 09:13] paoloemilioserra commented on #39
@atultegar  this is by design, not going to change it.

[2020-07-24 09:13] #39 closed, assigned to nobody

[2020-07-24 09:14] paoloemilioserra commented on #40
will fix in next release

[2020-07-24 09:14] #40 closed, assigned to nobody

[2020-08-11 20:19] vvv29 opened #41 "Install not functioning as expected"
Hello,

Im trying to install on C3D 2019, Revit 2019 and Dynamo 2.0.3.8811

First ,I copied the Zip file found in "Dynamo_CivilConnection\civilconnection-master\Compiled\2019"  to the dynamo Revit packages and extracted in the folder.

Secondly, i edit the xml file to later find out i did not have to do this step, then i installed the CivilPython.dll to the following route "C:\ProgramData\Autodesk

[2020-08-11 21:01] paoloemilioserra commented on #41
@vvv29 Did you unblock the dll files in the Dynamo package?

[2020-08-11 21:09] vvv29 commented on #41
Yes i unblocked the packages, it doesnt show the unblock box ot be unchecked

![image](https://user-images.githubusercontent.com/67920017/89949153-d1b91d00-dbfd-11ea-8894-aebce3eea9a3.png)

[2020-08-11 21:10] paoloemilioserra commented on #41
@vvv29 Did you relaunch Revit?

[2020-08-11 21:11] paoloemilioserra commented on #41
@vvv29 Can you show me the folder that contains the packages?

[2020-08-11 21:15] paoloemilioserra commented on #41
@vvv29 can you show me the console in Dynamo?

[2020-08-11 21:16] paoloemilioserra commented on #41
@vvv29 also Fractal Tree is not showing up, what is this package?

[2020-08-11 21:20] vvv29 commented on #41
Yes, i have restarted the computer after all installs.

![image](https://user-images.githubusercontent.com/67920017/89949996-1e512800-dbff-11ea-86ad-293c7f664f58.png)

"
Dynamo log started 2020-08-11 21:17:19Z

Requesting version update info...
Dynamo -- Build 2.0.3.8810
Duplicate migration type registered for SunPathDirection
The folder 'C:\Users\admin\AppData\Roaming\Dynamo\Dynamo Revit\2.0\pack

[2020-08-11 21:23] paoloemilioserra commented on #41
@vvv29  The folder 'C:\Users\admin\AppData\Roaming\Dynamo\Dynamo Revit\2.0\packages\CivilConnection2019\packages' does not exist, you have something wrong here.
I suggest you download the package again and match the installation path like the other packages.

[2020-08-11 21:23] #41 closed, assigned to nobody

[2020-08-11 21:28] vvv29 commented on #41
Yes i have tried this, i will try again, making a clean install, oddly it is showing in the package manager as shown in the first image, but wont load properly in the UI, i deleted the packages i wasnt using. All other packages function properly and are installed on the same path as the CivilConnection

[2020-08-11 21:31] paoloemilioserra commented on #41
the package manager only reads the pkg.json file it doesn't look at the actual folder structure.

[2020-08-11 21:32] paoloemilioserra commented on #41
@vvv29 can you show me the CivilConnection2019 folder content?

[2020-08-11 21:34] vvv29 commented on #41
yes! Dyf and Extra folders are empty Bin has the xml and DLL

![image](https://user-images.githubusercontent.com/67920017/89951152-45a8f480-dc01-11ea-8dca-69aab66ce9e5.png)

[2020-08-11 21:36] paoloemilioserra commented on #41
@vvv29  let's edit the pkg.json, it might be possible that it is pointing to the wrong assembly name/version

`{"license":"Apache License, Version 2.0",
"file_hash":null,
"name":"CivilConnection2019",
"version":"5.0.0",
"description":"Connect Civil 3D and Revit",
"group":"",
"keywords":null,
"dependencies":[],
"contents":"",
"engine_version":"2.0.2.6826",
"engine":"dynamo",
"engine_metadata":"",
"

[2020-08-11 22:40] vvv29 commented on #41
okay, that seems to have worked. Now i am seeing the package in the library.

![image](https://user-images.githubusercontent.com/67920017/89955916-6f1a4e00-dc0a-11ea-8043-42ad18f5f3a1.png)

Thank you now i can continue configuring the CivilConnection.

[2020-09-04 15:24] BartDeMaesschalckAtDIMCO opened #42 "Baseline.GetFeaturelinesByCode"
Paolo,

What is the reason you changed to old code to getting the data from the xml?
Can I re-instate the old code, under another name? I realy do not like all the xml stuff if I can access the data directly.
I also want to add getting featurelines from offset-alignments

Regards,

Bart

[2020-09-06 14:43] paoloemilioserra commented on #42
@BartDeMaesschalckAtDIMCO the reason being if you need to access the featurelines multiple times in a session (e.g. creating/updating the location of Revit families, creating walls, etc.) it is more performant than reading directly via COM as it used be in earlier versions. The reason for avoiding the XML at the beginning was to guarantee that the file is read in real time and it is exactly the sa

[2020-09-06 14:47] #42 closed, assigned to nobody

[2020-10-23 11:01] Lazarica-t opened #44 "Corridor.GetFeaturelinesByCode - Question"
Hi Paolo,

I have a question regarding how the **Corridor.GetFeaturelinesByCode** node works.

1. When working with more complex corridors that are made up of a couple of regions the node gives me a Featureline for each region, what is a bit unclear is why doesn't the start and end of these Featurelines match with the stations in Civil.
In the CivilConnection versions prior to 5.0.0 I was getting

[2020-10-23 11:39] atultegar commented on #44
Hi,
I am also having same problem.
And I posted that issue here. and it is tagged as 'won't fix'.

You can find that issue in Closed issues.

Thanks

[2020-10-23 11:52] Lazarica-t commented on #44
@atultegar thanks for the info, did not see it.
Well at least I now that it's working as intended so now I need to accommodate this info into my script workflows.

[2020-10-23 12:05] #44 closed, assigned to nobody

[2020-10-23 12:52] paoloemilioserra commented on #44
depending on the subassembly the feature lines may not be generated for the entire length of a region (e.g. when you have a switch in the SAC), the changes made need to reflect what you have in Civil 3D (which  could be an "intermitting" feature line in the same region). The data used to create the feature line geometry is stored in an XML in your temp folder as explained in  the documentation. In

[2020-10-23 22:38] Lazarica-t commented on #44
@paoloemilioserra Thank you for the explanation. I can understand why you decided to take this approach, it's just unfortunate that there are some unexpected side-effects.

Testing a bit more the new CivilConnection version I found another interesting side-effect for the **Featureline.PointAtStation** node:

- For corridors with more complex paths (a lot of twists and bends) you get some bonus poi

[2020-10-24 11:11] paoloemilioserra commented on #44
CivilConnection returns only the point closest to the featureline. You must examine the code before making comments here, that is why it is open sourced.

https://github.com/Autodesk/civilconnection/blob/master/Src/CivilConnection/2020/Autodesk2020/Featureline.cs#L318

[2020-10-24 12:17] Lazarica-t commented on #44
I'm not saying the code is not doing what it's suppose to do, I was just sharing the results for a more particular case (Corridor composed of different regions with a complex path). I get it that those extra points pop up there due to the way in which the corridor was build and having the Featureline made up of several segments it will generate points of intersection for each segment (if there are

[2020-10-24 13:07] paoloemilioserra commented on #44
Again, look at the code, it returns only one point per featureline regardless how many intersections you get.

[2020-10-24 13:24] Lazarica-t commented on #44
I agree with what you are saying.
Maybe I did not express my self correctly or din not properly highlighted the input, there are more featurelines (some have the same code name, but with different start end stations).

[2020-11-04 16:25] andmailg opened #45 "Mass.ByShapesCreaseStations node and Corridor Bowties Issue"
Hello!
Is there a way to solve the issue caused Mass.ByShapesCreaseStations node that ignores Civil 3D corridor bowties (shapes are not perpendicular to alignment)?
Civil Connection 5.0.1
![mbcs](https://user-images.githubusercontent.com/55160785/98137619-40430980-1ed3-11eb-8900-d105316aa95a.png)
![mbcs_revit](https://user-images.githubusercontent.com/55160785/98137657-49cc7180-1ed3-11eb-9692-97f2

[2020-11-04 17:44] paoloemilioserra commented on #45
you need to provide the appropriate list of station values: start, bow-tie, end

[2020-11-04 17:44] #45 closed, assigned to nobody

[2020-11-04 17:52] andmailg commented on #45
I did so
![dy](https://user-images.githubusercontent.com/55160785/98150364-961dae80-1edf-11eb-97a9-fd6b59fa0e9c.png)

[2020-11-04 18:05] paoloemilioserra commented on #45
share the dwg

[2020-11-04 18:10] andmailg commented on #45
[issue.zip](https://github.com/Autodesk/civilconnection/files/5489713/issue.zip)

[2020-11-07 11:20] paoloemilioserra commented on #45
You need to use a  different method for example Mass by Solid.
![image](https://user-images.githubusercontent.com/14221455/98439637-72cb4d00-20f3-11eb-9045-49625ee4ea60.png)

The coordinates of the applied subassemblies on the bowtie are returned orthogonal to the alignment, nothing I can do about it.

![image](https://user-images.githubusercontent.com/14221455/98439660-9b534700-20f3-11eb-8251-1eb

[2020-11-07 11:39] andmailg commented on #45
Ok, thank you very much!

[2021-06-03 16:32] mike-smith-psomas opened #46 "CivilConnection 2021 Signed Certificate"
The civil connection 2021 package fails to load with the following error: "A package called CivilConnection2021 found at C:\ProgramData\Autodesk\RVT 2021\Dynamo\2.6\packages\CivilConnection2021 could not be verified to have signed dll files.  A dll file found at C:\ProgramData\Autodesk\RVT 2021\Dynamo\2.6\packages\CivilConnection2021\bin\Autodesk2021.dll did not have a signed certificate.  Ignorin

[2021-07-09 14:30] jmcouffin opened #47 "Civil Connection for Revit 2022"
Hi there,
Revit 2022.1 being in the pipeline, I don't know how much effort it represents to port it to revit 2022?
nice tool

[2021-07-09 18:35] paoloemilioserra commented on #47
Thanks, it's a lot of effort actually, the Revit API for parameters has changed and without IronPython also CivilPython needs to be rewritten to support CPython3. Currently I do not have the bandwidth to do it, that is why the code has been made public.

[2021-07-09 18:36] #47 closed, assigned to nobody

[2021-07-09 18:49] jmcouffin commented on #47
Thanks for the clarification.

Le ven. 9 juil. 2021 20:35, paoloemilioserra ***@***.***> a
écrit :

[2021-07-23 21:23] jfmarquitectura commented on #46
Hello, I have the same Problem. I can't execute Civil connection for revit. I have the same error:

A dll file found at C:\ProgramData\Autodesk\RVT 2021\Dynamo\2.6\packages\CivilConnection2021\bin\Autodesk2021.dll did not have a signed certificate.  Se omitirá."

Please I need help to get a solution.

I have Revit 2021 and C3D2021 installed.

Thanks in advance.

[2021-08-01 08:13] paoloemilioserra commented on #46
Cannot reproduce, uninstall all other packages first, including earlier versions of CivilConnection and try again.

[2021-08-01 08:13] #46 closed, assigned to nobody

[2021-09-05 08:34] QuantumNovice opened #48 "Contents of `Compiled` folder should be in releases."

[2021-12-02 10:18] maesha opened #50 "please make it ,Working for revit 2022 and civil 3d 2022"

[2021-12-04 19:21] JacobSmall commented on #50
This would entail a substantial effort, and was best described here: https://github.com/Autodesk/civilconnection/issues/47.

A larger community based effort is likely the best way to get it working; in fact that is why the code was open sourced. Feel free to put together a pull request.

[2021-12-07 02:16] maesha commented on #50
ok thank you very much

[2021-12-21 14:31] paoloemilioserra commented on #50
https://github.com/Autodesk/civilconnection/releases/tag/2022

[2021-12-21 14:31] #50 closed, assigned to nobody

[2021-12-22 21:55] maesha commented on #50
wahhh thanks you very much ..sir

On Tue, Dec 21, 2021 at 9:31 PM paoloemilioserra ***@***.***>
wrote:

[2022-02-17 15:22] andmailg opened #57 "CivilConnection2022 v6.0.0 is missing from the add-ons section"
After installing CivilConnection2022 (ver. 6.0.0) I can't use Civil Connection Add-on.
The Add-ons section is missing.
Solved: Sorry, its a Revit addon only.

[2022-02-17 16:31] #57 closed, assigned to nobody

[2022-04-05 06:05] Mairh93 opened #58 "Problem with Installation of packages"
Hello,

I followed the instruction of the video (https://www.youtube.com/watch?v=MAWkHWZMf7U), but it seems that in Dynamo (2.6) the nodes dont work., also in civil 3D when I write python nothing happens. I use Revit 2021  and Civil3D 2022. Some screenshots below
Thank you !
![packages](https://user-images.githubusercontent.com/27021809/161689163-355e660d-6ab7-4c5a-92ba-3cd7258bb520.PNG)
![plugins

[2022-04-05 07:20] paoloemilioserra commented on #58
you need to download the proper version of CivilConnection, in your case it is the 2022.

[2022-04-05 07:20] #58 closed, assigned to nobody

[2022-04-05 07:32] Mairh93 commented on #58
Thank you, is there available ? I can only find the CivilConnection21.
I use Revit 2021, it would be a problem after with Revit if I download the CivilConnection22?

[2022-05-03 15:39] ghost opened #59 "Version 2023"
when will the compilation for 2023 come out

[2022-05-03 16:01] iandmcgregor commented on #59
just to be clear, this is an OpenSource community project. If you want any feature built in then you can do that for yourself and contribute it back to the community.
"You are welcome to contribute and help make the toolset better and more complete! The project follows the fork & pull model for accepting contributions. As a contributor, here are the guidelines we would like you to follow..."
See [

[2022-07-11 02:25] ghost commented on #59
I appreciate the opportunity, but first I need to familiarize myself with the features.
If it is possible to provide this version I would be very grateful and I will certainly provide feedback and suggestions.

[2022-07-30 15:32] paoloemilioserra commented on #59
releases here https://github.com/Autodesk/civilconnection/releases/tag/2023

[2022-07-30 15:32] #59 closed, assigned to nobody

[2022-08-05 08:04] ghost commented on #59
Thank you for your feedback, but I detected the possibility of an error in the "CivilSurface.JoinSurfaces" node, it does not join the input surfaces..
As an example follow this tutorial with several different surfaces and there was no success...
[CivilConnection: Revit, Dynamo, Civil 3D (Povrch TIN na topografii / Surface TIN to Topography)](https://www.youtube.com/watch?v=JXkovB1kkf4)

[2022-08-05 08:05] ghost opened #60 "Node "CivilSurface.JoinSurfaces" Erro"
releases here https://github.com/Autodesk/civilconnection/releases/tag/2023

_Originally posted by @paoloemilioserra in https://github.com/Autodesk/civilconnection/issues/59#issuecomment-1200227414_

Thank you for your feedback, but I detected the possibility of an error in the "CivilSurface.JoinSurfaces" node, it does not join the input surfaces..
As an example follow this tutorial with several d

[2022-08-05 08:06] Kelcyo commented on #60
Thank you for your feedback, but I detected the possibility of an error in the "CivilSurface.JoinSurfaces" node, it does not join the input surfaces..
As an example follow this tutorial with several different surfaces and there was no success...
[https://www.youtube.com/watch?v=JXkovB1kkf4](https://www.youtube.com/watch?v=JXkovB1kkf4)

[2022-08-12 08:11] andmailg opened #61 "Autodesk2023.dll file properties"
![cc2023](https://user-images.githubusercontent.com/55160785/184312858-42a3aeb3-6280-4491-aec6-3b16c2ccb0ff.png)

[2022-08-12 08:14] #61 closed, assigned to nobody

[2022-08-12 08:14] #48 closed, assigned to QuantumNovice

[2022-09-06 09:31] dschenau85 commented on #28
I Run civil3D 2022. But I have installed AutoCAD and MAP3D.
![image](https://user-images.githubusercontent.com/53792273/188600172-61b6d5c4-5881-433c-8eb8-ddb1be70f25e.png)

[2022-09-14 12:47] ghost commented on #60
Problem remains unsolved, and correction prediction...

[2022-09-14 12:49] paoloemilioserra commented on #60
@Kelcyo have you got a pull request to implement changes?

[2022-09-14 13:09] ghost commented on #60
No